.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin: 80px 170px;
}
.projects-title {
  position: relative;
}
.projects-title h1 {
  padding: 0px 30px;
  font-size: 50px;
  font-weight: 600;
}

.projects-title img {
  height: 50px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.projects-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}

.project-container img {
  box-sizing: border-box;
  width: 330px;
  height: 240px;
  cursor: pointer;
  transition: 0.2s;
}

.projects-container img:hover {
  border: 3px solid #ff00ff;
  border-image: linear-gradient(45deg, #da7c25, #b923e1) 1;
  transform: scale(1.1);
  transition: 0.3s;
  border-radius: 0px;
}
.projects-show-more {
  display: flex;
  gap: 15px;
  border-radius: 50px;
  border: 2px solid white;
  padding: 15px 30px;
  font-size: 22px;
  margin-bottom: 80px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.6s;
}
.projects-show-more:hover {
  gap: 30px;
  transition: 0.6s;
}
@media screen and (max-width: 768px) {
  .projects {
    gap: 40px;
    margin: 50px 40px;
    align-items: center;
  }

  .projects h1 {
    font-size: 36px;
    padding: 0;
  }
  .projects-title img {
    width: 100px;
    right: -20px;
    bottom: -5px;
  }
  .projects-container {
    grid-template-columns: 1fr;
    gap: 25px;
  }
  .projects-container img {
    height: 80%;
    width: 100%;
    border-radius: 8px;
  }
  .projects-show-more {
    padding: 10px 20px;
    font-size: 20px;
    margin-bottom: 40px;
  }
  .projects-show-more img {
    width: 25px;
  }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  .projects {
    gap: 40px;
    margin: 50px 70px;
    align-items: center;
  }

  .projects h1 {
    font-size: 36px;
    padding: 0;
  }
  .projects-title img {
    width: 100px;
    right: -20px;
    bottom: -5px;
  }
  .projects-container {
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    margin-bottom: 20px;
  }

  .projects-container img {
    height: 100%;
    width: 90%;
    border-radius: 8px;
  }
  .projects-show-more {
    padding: 10px 20px;
    font-size: 20px;
    margin-bottom: 40px;
  }
  .projects-show-more img {
    width: 25px;
  }
}

@media screen and (min-width: 993px) and (max-width: 1200px) {
  .projects {
    gap: 40px;
    margin: 50px 170px;
    align-items: center;
  }
  .projects-container{
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-bottom: 20px;
  }
  .projects-show-more {
    padding: 10px 20px;
    font-size: 20px;
    margin-bottom: 40px;
  }
}